*{
    margin: 0;
    padding: 0;
}
.blogimg{
    background-image: url(./../assets/images/blog.jpg);
    background-size: cover;
    width: 98%;
    margin-left: 10px;
    height: 400px;
    border-radius: 20px;
}